:root {
    --header-height: 7vh;
    --bg-color: #439f47;
    --font-color: #fff;
    --border-radius: 7px;
}

body {
    color: var(--font-color);
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

h1 {
    color: #43a047;
}

div {
    border-radius: var(--border-radius);
}

header {
    display: flex;
    background-color: #1f5768;
    align-items: center;
    height: var(--header-height);
}

header img {
    height: var(--header-height);
    padding: calc(var(--header-height) / 8);
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

div.menu {
    margin: 10px;
}

.menuitem {
    position: relative;
    border-radius: 0;
}

.menuitem:hover {
    height: calc(var(--header-height) - 10px);
    border-bottom: 5px solid var(--font-color);
    border-top: 5px solid transparent;
}

.masdropdown {
    display: none;
    position: absolute;
    top: var(--header-height);
}

.menuitem:hover > .masdropdown {
    display: block;
    width: max-content;
    background-color: #1f5768;
}

.itemdropdown {
    padding: 10px;
}

div.main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

div.child {
    background-color: #35803a;
    margin: 2px;
}

div.desc {
    padding: 4px;
    margin: 8px;
}

div.crypto {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #2b672e;
    margin: 8px;
    padding: 4px;
}

div.up {
    background-color: #008001;
    padding: 6px;
}

div.down {
    background-color: #a92c2c;
    padding: 6px;
}

div.black {
    background-color: #000;
    padding: 6px;
    margin: 8px;
}

div.loading {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.loaded {
    position: absolute;
    background-color: #7496a0;
    padding: 5px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 8px;
    font-weight: bold;
}

label {
    font-size: large;
    margin: 10px 0;
}

.input {
    font-size: medium;
    background-color: #2b672e;
    text-align: center;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px;
}

button {
    font-size: medium;
    background-color: #1f5768;
    text-align: center;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px;
    margin: 10px 0;
}

.leftover {
    display: flex;
    padding: 200px;
    background-color: #35803a;
    align-items: center;
    justify-content: center;
}

@media (max-width: 750px) {
    div.main {
        display: flex;
        flex-direction: column;
    }
    div.menu {
        display: none;
    }
    header {
        position: fixed;
        width: 100%;
        justify-content: center;
    }
    .cryptolist {
        display: none;
    }

    .loaderpage {
        padding-top: var(--header-height);
    }
}