body {
    background-color: #000;
    margin: 0;
    color: #fff;
}

input {
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 100000px;
    width: 70%;
    padding: 10px 0 10px 20px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.principal {
    border: #111 2px solid;
    position: relative;
}

.leftover {
    padding: 10px;
}

.menu {
    padding: 20px;
}

.menu-btn {
    display: block;
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-radius: 10000px;
    margin: 10px;
    padding: 10px 100px 10px 20px;
}

.menu-btn:hover {
    background-color: #111;
}

.top-bar {
    display: flex;
    flex-direction: row;
}

.undo {
    align-content: center;
    padding: 0 30px;
}

.bar-details {
    padding: 10px;
}

.profile-banner-img {
    width: 100%;
    position: relative;
}

.logo {
    width: 20px;
    height: 20px;
    font-size: large;
    text-align: center;
    padding: 30px;
    border-radius: 100000px !important;
    background-color: #000;
    position: absolute;
    margin-left: 20px;
    margin-top: -40px;
}

.profile-pic {
    width: 20px;
    height: 20px;
    font-size: large;
    text-align: center;
    padding: 15px;
    border-radius: 100000px !important;
    background-color: #000;
    position: absolute;
}

.name {
    padding-top: 50px;
    font-size: 20px;
    font-weight: bold;
}

.username {
    padding-top: 5px;
    font-size: small;
    color: #aaa;
}

.datejoin {
    padding-top: 5px;
    font-size: small;
    color: #aaa;
}

.general-stats {
    color: #aaa;
}

.stats {
    display: flex;
}

.stat {
    color: #aaa;
    padding-top: 5px;
    padding-right: 10px;
    font-size: small;
}

.stat-digit {
    color: #fff;
}

.posters {
    padding: 10px;
    border: #111 1px solid;
}

.right-info {
    display: grid;
    padding-left: 75px;
}

.profile-details {
    display: flex;
    padding: 10px 0;
}

.profile-username {
    color: #aaa;
}

.info-child {
    padding-right: 5px;
}

.post-actions {
    display: flex;
}

.action {
    color: #aaa;
    padding-top: 10px;
    padding-right: 30px;
    font-size: small;
}

.special {

}

.post {
    padding-left: 100px;
    background-color: #1d9bf0;
    border-radius: 100000px;
}

.post:hover {
    background-color: #0f5380;
}

@media (max-width: 900px) {
    .main {
        display: flex;
        flex-direction: column;
    }
    .menu {
        display: none;
    }
    .top-bar {
        display: none;
    }
}