:root {
    --color-brand: #03d;
    --grey-menu: #3b3b3b;
    --header-height: 96px;
    --menu-lateral-width: 35dvw;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/font-regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/font-bold.ttf') format('truetype');
    font-style: bold;
}

* {
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

/* 
NOTA 1: Me he tomado la molestia de poner lo de arriba por algo, seguramente no sea buena idea borrarlo.

NOTA 2: para poder ajustar alto y ancho de una imagen y que no se deforme se hace así:

    height: XXX;
    width: XXX;
    object-fit: cover;

P.D.: igual alguna de las medidas (ancho o alto) no hace falta especificarla porque ya la define un ancestro...

*/

body {
    margin: 0;
}








#checkbox {
    display: none;
}

.menu-close-label {
    display: flex;
    justify-content: end;
    right: 0;
    color: white;
    padding: 25px;
    padding-right: 40px;
}

.menu-close {
    cursor: pointer;
}

.exp-menu {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.main-exp-menu {
    display: flex;
    background-color: #3b3b3b;
    width: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    transition: 0.1s;
}
#checkbox:checked + .main-exp-menu {
    width: var(--menu-lateral-width);
}
.main-exp-menu-el {
    display: flex;
    white-space: nowrap;
    padding-left: 20px;
    color: white;
}

.ex-menu-el:hover {
    border-bottom: 3px solid white;
    margin-bottom: 29px;
    color: #fff;
    cursor: pointer;
}







header {
    position: fixed;
    width: 100%;
    color: white;
    background-color: var(--color-brand);
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img {
    object-fit: cover;
    padding: 20px;
    height: 100%;
}

.head-elements {
    gap: 1.5dvw;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.head-el {
    display: flex;
    cursor: pointer;
    padding: 1dvw;
}

.head-el-classic:hover {
    --typo: 3px;
    border-bottom: var(--typo) solid white;
    border-top: var(--typo) solid transparent;
}

.dropdown {
    display: none;
    cursor: default;
    position: absolute;
    top: calc(var(--header-height) - 15px);
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #0044dd;
    padding: 1dvw;
    transition: 0.2s ease;
}

.itemdropdown {
    padding: 1dvh;
    cursor: pointer;
}

.itemdropdown:hover {
    border-bottom: 3px solid white;
    padding-bottom: 7px;
}

.vehicles-dropdown:hover {
    display: block;
}
.vehicles-trigger:hover > .vehicles-dropdown {
    display: block;
    width: max-content;
    transition: 0.2s ease;
}

.systems-dropdown:hover {
    display: block;
}
.systems-trigger:hover > .systems-dropdown {
    display: block;
    width: max-content;
    transition: 0.2s ease;
}

.about-dropdown:hover {
    display: block;
}
.about-trigger:hover > .about-dropdown {
    display: block;
    width: max-content;
    transition: 0.2s ease;
}


.head-el-special {
    border-radius: 4px;
    background-color: white;
    padding: 1rem;
    color: var(--color-brand);
}

.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.burger-line {
    --burger-size: 30px;
    z-index: 1;
    margin-top: 2px;
    margin-bottom: 2px;
    width: var(--burger-size);
    height: calc(var(--burger-size)/10);
    background-color: #fff;
    border-radius: 100em;
}

main {
    padding-top: var(--header-height);
}

.portrait {
    display: flex;
    align-items: center;
    height: calc(100dvh - var(--header-height));
    width: 100dvw;
    background-image: url("../images/satelite.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portrait-title {
    color: white;
    font-size: 6dvw;
    padding: 2dvw;
}

.contact-sales {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4dvh 20dvw 4dvh 20dvw;
    background-color: var(--color-brand);
    color: white;
}

.sales-el {
    padding: 0.5dvw 0 0.5dvw 0;
}

.sales-title {
    font-size: xxx-large;
}

.sales-redirects {
    display: flex;
    gap: 1.5dvw;
}

.sales-redirect-el {
    cursor: pointer;
}


.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4dvh 20dvw 4dvh 20dvw;
}
.products-title {
    font-size: xx-large;
    text-align: center;
    margin: 2dvw;
}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3dvw;
}

.product-single {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
}

.single-el {
    margin: 20px;
}

.product-title {
    font-size: xx-large;
}

.product-img {
    width: 100%;
    height: 40%;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.view-products {
    cursor: pointer;
    padding: 1dvw;
    background-color: var(--color-brand);
    color: white;
    border-radius: 1em;
    display: flex;
}






@media only screen and (max-width: 915px) {
    .head-el-classic  {
        display: none;
    }
    .head-el-special  {
        display: none;
    }

}

@media (max-width: 700px) {
    #checkbox:checked + .main-exp-menu {
        width: 100dvw;
    }
    .product-list {
        grid-template-columns: 1fr;
    }
    .products {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1dvh 5dvw 1dvh 5dvw;
    }
    .contact-sales {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4dvh 5dvw 4dvh 5dvw;
        background-color: var(--color-brand);
        color: white;
    }
    .view-products {
        padding: 1dvh 5dvw 1dvh 5dvw;
    }
    .ex-menu-el {
        margin: 10px;
    }
}