:root {
    --morado: #550065;
    --morado-claro: #5b1774;
    --dorado: rgb(213, 196, 108);
    --background-color: #eee;
    --header-height: 10dvh;
    --burger-size: 3dvh;
    --menu-top-height: 64px;
    --menu-lateral-width: 25dvw;
    --banner-height: 100px;
    --jugadores: url("../images/jugadores.jpg");
}
body {
    margin: 0;
    color: #000;
    cursor: default;
    background-color: #eeeee4;
}
header{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--morado);
    color: #fff;
    height: var(--header-height);
}
.head-element {
    display: flex;
    align-items: center;
    margin: calc(var(--header-height)/6);
}
.fifa-logo {
    display: flex;
    align-items: center;
    margin: calc(var(--header-height)/6);
    height: calc(var(--header-height)/1.5);
}
.burger-menu {
    display: flex;
    align-items: center;
    margin: calc(var(--header-height)/6);
}
.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.burger-line {
    z-index: 1;
    width: var(--burger-size);
    height: calc(var(--burger-size)/10);
    margin: calc(var(--burger-size)/8);
    background-color: #fff;
    border-radius: 100em;
}
.text-selectable-element:hover {
    color: orange;
    cursor: pointer;
}
#checkbox {
    display: none;
}
.container-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.exp-menu {
    display: flex;
    position: fixed;
    top: var(--header-height);
    bottom: 0;
}
.main-exp-menu {
    background-color: var(--morado);
    width: 0;
    overflow: hidden;
    color: #999;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.1s;
}
#checkbox:checked + .main-exp-menu {
    width: var(--menu-lateral-width);
}
.main-exp-menu-el {
    white-space: nowrap;
    padding: 15px;
}
.main-exp-menu-el:hover {
    color: #fff;
    cursor: pointer;
}
.sub-exp-menu {
    width: 0;
    background-color: var(--morado-claro);
    overflow: hidden;
    color: #999;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 100;
    top: 0;
    left: var(--menu-lateral-width);
    flex-direction: column;
    transition: 0.1s;
    cursor: default;
}
.sub-exp-menu-el {
    white-space: nowrap;
    padding-top: 25px;
    padding-left: 10px;
    cursor: pointer;
}
.sub-exp-menu-el:hover {
    color: #fff;
}
.add-menu:hover .sub-exp-menu {
    width: var(--menu-lateral-width);
}
.sub-exp-menu:hover {
    width: var(--menu-lateral-width);
}



.cover {
    display: flex;
    flex-direction: row;
    margin-top: var(--header-height);
    background-color: black;
}

.hublot {
    width: 30%;
    background-color: var(--morado);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.hublot-img {
    width: 50%;
    margin-bottom: 20px;
}

.cover-games {
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #fff;
    white-space: nowrap;
}

.game-separators {
    color: #d6c36c;
}

.banner {
    width: 70%;
    background-image: var(--jugadores);
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.banner-text {
    color: white;
    padding: 40px;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
}

.banner-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.1;
}

.banner-desc {
    font-size: 1rem;
}

.main-games {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playable-game {
    background-color: #fff;
    color: #808080;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    margin: 20px;
}

.game-header {
    display: flex;
    justify-content: space-between;
}

.game-info {
    color: #000;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-info div {
    padding: 2px;
}

.game-teams {
    display: flex;
}

.team-img img {
    height: 25px;
    width: 35px;
}

.team-name {
    margin-left: 10px;
}




.subscription {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    background-image: url("../images/banner.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sub-info {
    margin: 15px;
}

.sub-el {
    font-size: large;
    margin: 10px;
}

.sub-title {
    font-weight: bold;
}

.subscription-btn {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border-radius: 10000em;
    padding: 10px 60px;
    transition: transform 0.15s ease-in-out;
}

.subscription-btn:hover {
    transform: scale(1.1);
}







.subinfo {
    padding: 30px 100px;
    box-sizing: border-box;
}

.last-news {
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 20px;
}

.subinfo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    height: 600px;
}

.subinfo-el {
    width: 100%;
    height: 100%;
}

.subinfo-big {
    height: 100%;
    border-radius: 20px;
    background-image: var(--jugadores);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.subinfo-big-text {
    color: white;
    padding: 30px;
}

.subinfo-big-title {
    font-size: xx-large;
    font-weight: bold;
    margin: 0 0 10px 0;
}


.subinfo-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.other-news {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}

.other-news-image {
    height: 100%;
    width: 175px;
    object-fit: cover;
}

.other-news-title {
    font-size: x-large;
    font-weight: bold;
    padding: 0 20px;
}


footer {
    background-color: var(--morado);
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    color: #fff;
    padding: 10px 80px;
}

.ftr-el {
    cursor: pointer;
}

@media (max-width: 1100px) {
    .cover {
        display: flex;
        flex-direction: column;
    }
    .hublot {
         width: 100%;
    }
    .banner {
        width: 100%;
        height: 400px;
    }
}


@media (max-width: 970px) {
    .subinfo-container {
        grid-template-columns: 1fr;
        height: auto;
    }

    .subinfo-big {
        height: 400px;
    }

    .other-news {
        height: 100px;
        margin-top: 15px;
    }
}


@media (max-width: 700px) {
    .sub-exp-menu {
        background-color: var(--morado);
        width: 100%;
        position: static;
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
    }
    .add-menu:hover .sub-exp-menu {
        max-height: 50em;
        width: 100%;
        opacity: 1;
    }
    #checkbox:checked + .main-exp-menu {
        width: 100dvw;
    }
    .other-news-title {
        font-size: medium;
    }
    .subinfo-container {
         gap: 0;
    }
    .subinfo {
        padding: 10px 10px;
        box-sizing: border-box;
    }
    footer {
        padding: 10px 10px;
    }
    .head-element {
        display: none;
    }
    .subscription {
        flex-direction: column;
        margin: 0;
        padding: 20px;
        background-image: url("../images/banner.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}